on:
  push:
  # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

# https://github.com/cmsd2/example-cli/blob/master/.github/workflows/rust.yml

name: Create Release

jobs:
  create_release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Create Release in Github
        id: create_github_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Changes in this Release
            - First Change
            - Second Change
          draft: false
          prerelease: false
    outputs:
        upload_url_github: ${{ steps.create_github_release.outputs.upload_url }}
  publish_artifact:
    name: Publish Artifacts cross platform
    needs: create_release
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
            profile: minimal
            toolchain: stable
            override: true
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --verbose

      - name: Upload Unix Binary
        id: upload-release-asset-unix
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            upload_url: ${{ needs.create_release.outputs.upload_url_github }}
            asset_path: target/release/sonar_qg
            asset_name: sonar-quality-gate-linux-x86_64
            asset_content_type: application/x-elf
            
      - name: Upload Windows Binary
        id: upload-release-asset-windows
        if: matrix.os == 'windows-latest'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            upload_url: ${{ needs.create_release.outputs.upload_url_github }}
            asset_path: target/release/sonar_qg.exe
            asset_name: sonar-quality-gate-windows-x86_64.exe
            asset_content_type: application/vnd.microsoft.portable-executable


      ### MacOS Specific

      - name: Import Code-Signing Certificates
        if: matrix.os == 'macos-latest'
        uses: apple-actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ secrets.APPLE_DEVELOPER_CERTIFICATE_P12_BASE64 }}
          p12-password: ${{ secrets.APPLE_DEVELOPER_CERTIFICATE_PASSWORD }}

      - name: Install gon via HomeBrew for code signing and app notarization
        if: matrix.os == 'macos-latest'
        run: |
          brew tap mitchellh/gon
          brew install mitchellh/gon/gon
      - name: Sign and Notarize CLI
        if: matrix.os == 'macos-latest'
        run: |
          echo ${{ secrets.GON_ZIP_CONFIG_BASE64 }} | base64 --decode > ./sign_macos.json
          gon -log-level=info -log-json sign_macos.json

      - name: Upload MacOs Binary
        id: upload-release-asset-macos
        if: matrix.os == 'macos-latest'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_release.outputs.upload_url_github }}
          asset_path: sonar_quality_gate.zip
          asset_name: sonar-quality-gate-darwin-x86_64
          asset_content_type: application/x-mach-binary